name: Pull Requests

on:
  pull_request:
  push:
    branches:
      - stable
      - beta
      - master

jobs:
  code_style:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cirruslabs/flutter:stable
    steps:
      - uses: actions/checkout@v3
      - name: Flutter version
        run: flutter doctor -v
      - name: Download dependencies
        run: ./wiresdk deps
      - name: Analyze
        run: ./wiresdk analyze --fatal-infos --fatal-warnings .
      - name: Check formatting
        run: ./wiresdk format --verify

  pr-min:
    runs-on: ubuntu-latest
    container:
      image: cirrusci/flutter:3.0.0
    steps:
      - uses: actions/checkout@v3
      - name: Flutter version
        run: flutter doctor -v
      - name: Download dependencies
        run: ./wiresdk deps
      - name: print deps
        run: cd examples/theming && ./../../wiresdk flutter pub deps
      - name: Test
        run: ./wiresdk test
      - name: Build
        run: cd examples/theming && ./../../wiresdk flutter build web

  pr-flutter_3_7_3:
    runs-on: ubuntu-latest
    container:
      image: cirrusci/flutter:3.7.3
    steps:
      - uses: actions/checkout@v3
      - name: Flutter version
        run: flutter doctor -v
      - name: Download dependencies
        run: ./wiresdk deps
      - name: print deps
        run: cd examples/theming && ./../../wiresdk flutter pub deps
      - name: Test
        run: ./wiresdk test
      - name: Build
        run: cd examples/theming && ./../../wiresdk flutter build web

  pr-stable:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cirruslabs/flutter:stable
    if: ${{ github.base_ref != 'beta' || github.base_ref == null && github.ref != 'beta' }}
    steps:
      - uses: actions/checkout@v3
      - name: Flutter version
        run: flutter doctor -v
      - name: Download dependencies
        run: ./wiresdk deps
      - name: Test
        run: ./wiresdk test
      - name: Build
        run: cd examples/theming && ./../../wiresdk flutter build web

  pr-beta:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cirruslabs/flutter:beta
    if: ${{ github.base_ref == 'beta' || github.base_ref == null && github.ref == 'beta' }}
    steps:
      - uses: actions/checkout@v3
      - name: Flutter version
        run: flutter doctor -v
      - name: Download dependencies
        run: ./wiresdk deps
      - name: Test
        run: ./wiresdk test
      - name: Build
        run: cd examples/theming && ./../../wiresdk flutter build web
