name: Pull Requests

on:
  pull_request:
  push:
    branches:
      - stable
      - beta
      - master

jobs:
  code_style:
    runs-on: ubuntu-latest
    container:
      image: cirrusci/flutter:stable
    steps:
      - uses: actions/checkout@v3
      - name: Flutter version
        run: flutter doctor -v
      - name: Download dependencies
        run: |
          sudo --preserve-env=PATH env flutter packages get
          cd examples/localization && sudo --preserve-env=PATH env flutter pub get -v && cd ../..
          cd examples/theme_editor && sudo --preserve-env=PATH env flutter pub get -v && cd ../..
          cd examples/theming && sudo --preserve-env=PATH env flutter pub get -v && cd ../..

      - name: Analyze
        run: sudo --preserve-env=PATH env flutter analyze -v --fatal-infos --fatal-warnings .
      - name: Check formatting
        run: sudo --preserve-env=PATH env flutter format --fix --set-exit-if-changed .

  pr-min:
    runs-on: ubuntu-latest
    container:
      image: cirrusci/flutter:2.8.0
    steps:
      - uses: actions/checkout@v3
      - name: Flutter version
        run: flutter doctor -v
      - name: Download dependencies
        run: |
          sudo --preserve-env=PATH env flutter packages get
          cd examples/theming && sudo --preserve-env=PATH env flutter packages get
      - name: Test
        run: sudo --preserve-env=PATH env flutter test
      - name: Build
        run: cd examples/theming && sudo --preserve-env=PATH env flutter build web

  pr-stable:
    runs-on: ubuntu-latest
    container:
      image: cirrusci/flutter:stable
    if: ${{ github.base_ref != 'beta' || github.base_ref == null && github.ref != 'beta' }}
    steps:
      - uses: actions/checkout@v3
      - name: Flutter version
        run: flutter doctor -v
      - name: Download dependencies
        run: |
          sudo --preserve-env=PATH env flutter packages get
          cd examples/theming && sudo --preserve-env=PATH env flutter packages get
      - name: Test
        run: sudo --preserve-env=PATH env flutter test
      - name: Build
        run: cd examples/theming && sudo --preserve-env=PATH env flutter build web

  pr-beta:
    runs-on: ubuntu-latest
    container:
      image: cirrusci/flutter:beta
    if: ${{ github.base_ref == 'beta' || github.base_ref == null && github.ref == 'beta' }}
    steps:
      - uses: actions/checkout@v3
      - name: Flutter version
        run: flutter doctor -v
      - name: Download dependencies
        run: |
          sudo --preserve-env=PATH env flutter packages get
          cd examples/theming && sudo --preserve-env=PATH env flutter packages get
      - name: Test
        run: sudo --preserve-env=PATH env flutter test
      - name: Build
        run: cd examples/theming && sudo --preserve-env=PATH env flutter build web
